@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cinzel+Decorative:wght@400;700;900&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inscricao-title {
    margin: 55px 0 10px 0;
    align-self: center;
}

.inscr-a{
    display: block;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.596);
    transition: transform 0.2s;
}

.inscr-a:hover{
    transform: scale(1.05);
}

/*=========================
    Resultados
=========================*/

.inscricao {
    display: grid;
    width: 90%;
    max-width: 550px;
    padding: 7px;
    margin: 0 auto 55px auto;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: -10px 10px 20px black;
    animation: pulsar 2s infinite;
}

.inscricao-content {
    background-color: rgba(122, 1, 235, 0.205);
    border-radius: 10px;
    height: auto;
    text-align: center;
}

.inscricao-content strong {
    color: black;
    font-family: "Comic Neue";
    font-size: 25px;
}

.result-link {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    font-size: 20px;
    font-family: "Russo One";
    text-decoration: underline;
}


/*===========================
    INSCRIÇÃO REMANESCENTES
===========================*/

.inscricao hr{
    border: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, transparent, rgba(150, 150, 150), transparent);
    height: 3px;

}

.inscricao-content h1{
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-family: 'Russo One';
    color: purple;
}

.inscricao-content h2{
    padding: 0;
    margin: 0 13px 0 13px;
    font-size: 18px;
    color: purple;
}

.inscricao-remanescente {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.remanescente-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-family: "Russo One";
    font-size: 20px;
}

.inscricao-remanescente img {
    width: 100px;
    height: auto;
    margin: 10px;
}


.inscricao-remanescente {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;

    background-color: white;

    border-radius: 0 0 5px 5px;
}

/*=====================
    BORDA PULSANTE
=====================*/

@keyframes pulsar {
    0% {
        /* No início, a sombra está colada no botão e totalmente visível */
        box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.7), -10px 10px 20px black;
    }

    70% {
        /* No meio do caminho, a sombra se expande para 20px e começa a sumir */
        box-shadow: 0 0 0 20px rgba(98, 0, 238, 0), -10px 10px 20px black;
    }

    100% {
        /* No final, a sombra zera o tamanho para reiniciar o ciclo suavemente */
        box-shadow: 0 0 0 0 rgba(98, 0, 238, 0), -10px 10px 20px black;
    }
}

@media screen and (max-width: 700px) {

    .inscricao {
        width: 100%;
        max-width: 500px;

        margin: 0 auto 40px;
    }

    .inscricao-remanescente {
        flex-direction: column;
        padding: 10px;
    }

    .remanescente-link {
        width: 100%;
        margin: 0;

        font-size: 16px;
    }

    .inscricao-remanescente img {
        width: 100px;
        margin: 5px auto;
    }
}

@media screen and (max-width: 450px) {

    .inscricao {
        width: 100%;
        padding: 5px;
    }

    .inscricao-content h1 {
        font-size: 28px;
    }

    .inscricao-content h2 {
        font-size: 16px;
    }

    .inscricao-content strong {
        font-size: 20px;
    }
}