@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cinzel+Decorative:wght@400;700;900&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*========================
    Inscrição pelo  link
========================*/

.minicursos{
    margin: 55px 0 10px 0;
}

.inscricao-link {
    display: flex;
    background-color: antiquewhite;
    box-shadow: -10px 10px 20px black;
    margin: 20px 20px 55px 20px;
    padding: 8px;
    height: auto;
    width: 70%;
    justify-self: center;
    justify-items: center;
    border-radius: 10px;
}

.fundo-link {
    background-color: rgba(122, 1, 235, 0.205);
    box-shadow: -2px 2px 10px black;
    border-radius: 10px;
    justify-items: center;
    padding: 11px;
}

.inscricao-link h1 {
    font-size: 20px;
    font-family: "Comic neue";
    color: black;
    width: 80%;
}

.inscricao-link h2 {
    font-size: 15px;
    font-family: Arial;
    color: rgb(140, 15, 179);
    margin-top: 3px;
}

.inscricao-link:hover {
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0% {
        /* No início, a sombra está colada no botão e totalmente visível */
        box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.7), -10px 10px 20px black;
    }

    70% {
        /* No meio do caminho, a sombra se expande para 20px e começa a sumir */
        box-shadow: 0 0 0 20px rgba(98, 0, 238, 0), -10px 10px 20px black;
    }

    100% {
        /* No final, a sombra zera o tamanho para reiniciar o ciclo suavemente */
        box-shadow: 0 0 0 0 rgba(98, 0, 238, 0), -10px 10px 20px black;
    }
}

/* Botão do link */

.botao-inscricao {
    display: block;
    background-color: purple;
    width: 90%;
    height: calc(auto + 10px);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform 0.2s ease-out;
    border-radius: 10px;
    font-family: "Comic Neue";
    font-weight: 800;
}

.botao-inscricao:hover {
    transform: scale(1.05);
}

/*========================
    Inscrição pelo qrcode
========================*/

.qrcode-inscricao {
    size: 50%;
}

@media(max-width: 700px){
    .inscricao-link{
        display: block;
    }

    .qrcode-inscricao{
        margin-top: 20px;
    }
}